<section id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Travel & Info</h2>
                    <h3 class="section-subheading text-muted"></h3>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <ul class="timeline">
                        
                            <li class="">
                                <div class="timeline-image">
                                    <a href="/travel"><img class="img-circle img-responsive" src="css/2016_style/img/icon-about.jpeg" alt=""></a>
                                </div>
                                <div class="timeline-panel">
                                    <div class="timeline-heading">
                                        <a href="/travel"><h4>Travel information</h4></a>
                                    </div>
                                    <div class="timeline-heading">
                                        <p class="text-muted">How to get to the Conference</p>
                                    </div>
                                    <a href="/travel" class="page-scroll btn btn-sm">More info</a>
                                </div>
                            </li>
                        
                            <li class="timeline-inverted">
                                <div class="timeline-image">
                                    <a href="/accommodation"><img class="img-circle img-responsive" src="css/2016_style/img/icon-team.jpeg" alt=""></a>
                                </div>
                                <div class="timeline-panel">
                                    <div class="timeline-heading">
                                        <a href="/accommodation"><h4>Accommodation</h4></a>
                                    </div>
                                    <div class="timeline-heading">
                                        <p class="text-muted">Hotels and visitor accommodation at QMUL</p>
                                    </div>
                                    <a href="/accommodation" class="page-scroll btn btn-sm">More info</a>
                                </div>
                            </li>
                        
                            <li class="">
                                <div class="timeline-image">
                                    <a href="/venue"><img class="img-circle img-responsive" src="css/2016_style/img/icon-venue.jpeg" alt=""></a>
                                </div>
                                <div class="timeline-panel">
                                    <div class="timeline-heading">
                                        <a href="/venue"><h4>The venue</h4></a>
                                    </div>
                                    <div class="timeline-heading">
                                        <p class="text-muted">People's Palace<br/>Queen Mary University of London<br/>London, UK</p>
                                    </div>
                                    <a href="/venue" class="page-scroll btn btn-sm">More info</a>
                                </div>
                            </li>
                        
                            <li class="timeline-inverted">
                                <div class="timeline-image">
                                    <a href="/travel_grants"><img class="img-circle img-responsive" src="css/2016_style/img/booklet-icon.png" alt=""></a>
                                </div>
                                <div class="timeline-panel">
                                    <div class="timeline-heading">
                                        <a href="/travel_grants"><h4>Travel grants</h4></a>
                                    </div>
                                    <div class="timeline-heading">
                                        <p class="text-muted">The IEEE Computational Intelligence Society (IEEE CIS) will offer a limited number of Travel Grants</p>
                                    </div>
                                    <a href="/travel_grants" class="page-scroll btn btn-sm">More info</a>
                                </div>
                            </li>
                        
                    </ul>
                </div>
            </div>
        </div>
    </section>