<section id="contact" >
        <div class="container" >
		<!--
		<section id="contact" style="padding: 30px" >
		<section id="contact" >
        <div class="container" >
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Contact Us</h2>
					<h3 class="section-subheading text-muted">For more information, please contact: <a href="https://www.facebook.com/malaysianstudentstechnologyconference">Facebook Message</a></h3>
                
					
                    <h3 class="section-subheading text-muted">We will do our best to answer your request as soon as possible. You may send us your request via <a href="https://www.facebook.com/malaysianstudentstechnologyconference">Facebook Message</a></h3>

                </div>
            </div>
			-->
            <div class="row">
				<div class="col-lg-12 text-center">
                    <h2 class="section-heading">Contact Us</h2>
                    <p class="section-subheading text-muted" style="color:#cccccc">For more information, please contact:</p>

					
                    <a href="mailto:ruck@is.ritsumei.ac.jp" style="color:#ffaaaa">Ruck Thawonmas</a><br/>
                    <a href="mailto:kjkim@gist.ac.kr" style="color:#ffaaaa">Kyung-Joong Kim</a><br/>
					
					<!-- 
                    <a href="mailto:diego.perez@qmul.ac.uk">Diego Perez-Liebana</a><br/>
                    <a href="mailto:sanaz.mostaghim@ovgu.de">Sanaz Mostaghim</a><br/>
                    <a href="mailto:laurissa.tokarchuk@qmul.ac.uk">Laurissa Tokarchuk</a><br/><br/>

					-->
                    
                    <a href="?" target="_top" style="color:#ffaaaa">CoG 2021</a>
				<!-- 
                    <form name="sentMessage" id="contactForm" action="https://formspree.io/hello.world@gmail.com" method="POST" novalidate>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="control-group form-group">
                                    <input type="text" class="form-control" name="name" placeholder="Your Name *" id="name" required data-validation-required-message="Please enter your name."WW>
                                    <p class="help-block text-danger"></p>
                                </div>
                                <div class="control-group form-group">
                                    <input type="email" class="form-control" name="_replyto" placeholder="Your Email *" id="email" required data-validation-required-message="Please enter your email address.">
                                    <p class="help-block text-danger"></p>
                                </div>
                                <div class="control-group form-group">
                                    <input type="tel" class="form-control" name="phone" placeholder="Your Phone" id="phone" required data-validation-required-message="Please enter your phone number (optional).">
                                    <p class="help-block text-danger"></p>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="control-group form-group">
                                    <textarea class="form-control" name="message" placeholder="Your Message *" id="message" required data-validation-required-message="Please enter a message."></textarea>
                                    <p class="help-block text-danger"></p>
                                </div>
                            </div>
                            <div class="clearfix"></div>
                            <div class="col-lg-12 text-center">
                                <div id="success"></div>
                                <button type="submit" value="Send" class="btn btn-xl">Send Message</button>
                            </div>
                        </div>
                    </form>
				-->
                </div>
            </div>
        </div>
    </section>