<style>
	
		
	.ppdropbtn {
	background-color: #4CAF50;
	color: white;
	padding: 16px;
	font-size: 16px;
	border: none;
	}
	
	.ppdropdown {
	position: relative;
	display: inline-block;
	}
	
	.ppdropdown-content {
	display: none;
	position: absolute;
	background-color: #575757;
	min-width: 450px;
	box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
	z-index: 1;
	}
	
	.ppdropdown-content a {
	color: black;
	padding: 12px 16px;
	text-decoration: none;
	display: block;
	}
	
	.ppdropdown-content a:hover {background-color: #ddd;}
	
	.ppdropdown:hover .ppdropdown-content {display: block;}
	
	.ppdropdown:hover .ppdropdown-toggle {background-color: #3e8e41;
	}
</style>
<!--
	https://www.w3schools.com/howto/tryit.asp?filename=tryhow_css_js_dropdown_hover
-->

<link rel="shortcut icon" type="image/ico" target="_blank"  href="css/cog_logo.ico">
<!-- Navigation -->
<nav class="navbar navbar-default navbar-default-color navbar-fixed-top">
	<div class="container">
		<!-- Brand and toggle get grouped for better mobile display -->
		
		
		<!-- 
            <div class="navbar-header page-scroll">
			<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
			<span class="sr-only">Toggle navigation</span>
			<span class="icon-bar"></span>
			<span class="icon-bar"></span>
			<span class="icon-bar"></span>
			</button>
			<a class="navbar-brand page-scroll" target="_blank"  href="/"><img src="css/cog_logo.png" style="margin-top:-15px" width="50px" alt="icon-about"></a>
            </div>
		-->
		<!-- Collect the nav links, forms, and other content for toggling -->
		<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
			<ul class="nav navbar-nav navbar-right">
				<li >
					<div class="navbar-header page-scroll">
						<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
							<span class="sr-only">Toggle navigation</span>
							<span class="icon-bar"></span>
							<span class="icon-bar"></span>
							<span class="icon-bar"></span>
						</button>
						
						
						<!-- <a class="navbar-brand page-scroll" target="_blank"  href="/"><img src="{{ '/css/cog_logo.png' | prepend: site.baseurl }}" style="margin-top:-15px" width="50px" alt="icon-about"></a>
						-->
						
						<a class="navbar-brand page-scroll" target="_blank"  href="{{ "/" | prepend: site.baseurl }}"><img src="{{ '/css/cog_logo.png' | prepend: site.baseurl }}" style="margin-top:-15px" width="50px" alt="icon-about"></a>
					</div>
				</li>
				<li class="hidden">
					<a target="_blank"  href="/"></a>
				</li>
				
				<!--
					<li >	
					<div class="dropdown">
					<button class="dropbtn">Dropdown</button>
					<div class="dropdown-content">
					<a target="_blank"  href="#">Link 1</a>
					<a target="_blank"  href="#">Link 2</a>
					<a target="_blank"  href="#">Link 3</a>
					</div>
					</div>
					</li>
					
					
					<li class="dropdown">
					<a class="page-scroll dropdown-toggle" data-toggle="dropdown" target="_blank"  href="#intro">Info</a>
					<ul class="dropdown-menu">
					
					<li><a target="_blank"  href="/#important_dates">Important dates</a></li>
					
					<li><a target="_blank"  href="/topics">Topics and tracks</a></li>
					
					<li><a target="_blank"  href="/author_guidelines">Author guidelines</a></li>
					
					</ul>
					</li>
				-->
				
				
				
				<!--
					<li class="dropdown ppdropdown">
					<a class="page-scroll dropdown-toggle" data-toggle="dropdown" target="_blank"  href="#intro">Info</a>
					<ul class="dropdown-menu">
					
					<li><a target="_blank"  href="/#important_dates">Important dates</a></li>
					
					<li><a target="_blank"  href="/topics">Topics and tracks</a></li>
					
					<li><a target="_blank"  href="/author_guidelines">Author guidelines</a></li>
					
					</ul>
					
					<div class="ppdropdown-content">
					<a target="_blank"  href="#">Link 1</a>
					<a target="_blank"  href="#">Link 2</a>
					<a target="_blank"  href="#">Link 3</a>
					</div>
					</li>
					
				-->
				
				
				<!-- 
					
					
					<li class="dropdown">
					<a class="page-scroll dropdown-toggle" data-toggle="dropdown" target="_blank"  href="#intro">Info</a>
					<ul class="dropdown-menu">
					
					<li><a target="_blank"  href="/#important_dates">Important dates</a></li>
					
					<li><a target="_blank"  href="/topics">Topics and tracks</a></li>
					
					<li><a target="_blank"  href="/author_guidelines">Author guidelines</a></li>
					
					</ul>
					</li>
					
					
					
					
					
					
					
					
					<li>
					<a class="page-scroll" target="_blank"  href="/registration">Registration</a>
					</li>
				-->
				
				
				
				<!-- 
					<li class="dropdown">
					<a class="page-scroll dropdown-toggle" data-toggle="dropdown" target="_blank"  href="#program">Program</a>
					<ul class="dropdown-menu">
					
					<li><a target="_blank"  href="/program">Program</a></li>
					
					<li><a target="_blank"  href="/proceedings">Proceedings</a></li>
					
					<li><a target="_blank"  href="/competitions_conference">Competitions</a></li>
					
					<li><a target="_blank"  href="/tutorials_conference">Tutorials</a></li>
					
					<li><a target="_blank"  href="/industry_day">Industry Day</a></li>
					
					<li><a target="_blank"  href="/keynotes">Keynotes</a></li>
					
					<li><a target="_blank"  href="/welcome_reception">Welcome reception</a></li>
					
					<li><a target="_blank"  href="/games_night">Games night</a></li>
					
					</ul>
					</li>
					
					
					
					<li class="dropdown">
					<a class="page-scroll dropdown-toggle" data-toggle="dropdown" target="_blank"  href="#sp_sessions">Sp. Sessions</a>
					<ul class="dropdown-menu">
					
					<li><a target="_blank"  href="/special_session_esports">Esports</a></li>
					
					<li><a target="_blank"  href="/special_session_matchmaking">Matchmaking</a></li>
					
					</ul>
					</li>
					
				-->
				
				
				
				
				<li class="ppdropdown">
					<a class="page-scroll dropdown-toggle" data-toggle="dropdown" target="_blank"  href="#intro">Info</a>
					<div class="ppdropdown-content">
						<a target="_top"  href="{{ '/#important_dates' | prepend: site.baseurl }}">Important dates</a>
						<a target="_top"  href="{{ '/topics' | prepend: site.baseurl }}">Topics and tracks</a>
						<a target="_top"  href="{{ '/author_guidelines' | prepend: site.baseurl }}">Author guidelines</a>
					</div>
				</li>
				
				<li class="ppdropdown">
					<a class="page-scroll dropdown-toggle" data-toggle="dropdown" target="_blank"  href="#calls">Calls</a>
					<div class="ppdropdown-content">
						<a target="_top"  href="{{ '/cfp' | prepend: site.baseurl }}">Call for Papers</a>
						<a target="_top"  href="{{ '/call_industry_talks' | prepend: site.baseurl }}">Call for industry talks</a>
						<a target="_top"  href="{{ '/tutorials' | prepend: site.baseurl }}">Call for tutorials</a>
						<a target="_top"  href="{{ '/competitions' | prepend: site.baseurl }}">Call for competitions</a>
						<a target="_top"  href="{{ '/special_sessions' | prepend: site.baseurl }}">Call for Sp. Sessions proposals</a>
					</div>
				</li>
				
				
				<li class="ppdropdown">
					<a class="page-scroll dropdown-toggle" data-toggle="dropdown" target="_blank"  href="#sponsorship">Program</a>
					<div class="ppdropdown-content">
						<a target="_top"  href="{{ '/program' | prepend: site.baseurl }}">Program</a>
					</div>
				</li>
				
				
				<li class="ppdropdown">
					<a class="page-scroll dropdown-toggle" data-toggle="dropdown" target="_blank"  href="#sponsorship">Sponsorships</a>
					<div class="ppdropdown-content">
						<a target="_top"  href="{{ '/cfs' | prepend: site.baseurl }}">Call for Sponsorships</a>
					</div>
				</li>
				
				
				<li class="ppdropdown">
					<a class="page-scroll dropdown-toggle" data-toggle="dropdown" target="_blank"  href="#travel">Travel</a>
					<div class="ppdropdown-content">
						<a target="_top"  href="{{ '/travel' | prepend: site.baseurl }}">Information</a>
						<a target="_top"  href="{{ '/accommodation' | prepend: site.baseurl }}">Accommodation</a>
						<a target="_top"  href="{{ '/venue' | prepend: site.baseurl }}">Venue</a>
						<a target="_top"  href="{{ '/travel_grants' | prepend: site.baseurl }}">Travel grants</a>
					</div>
				</li>
				
				
				
				<li class="ppdropdown">
					<a class="page-scroll dropdown-toggle" data-toggle="dropdown" target="_blank"  href="#organisation">Organisation</a>
					<div class="ppdropdown-content">
						<a target="_top"  href="{{ '/committee' | prepend: site.baseurl }}">Committee</a>
						<!-- <a target="_blank"  href="/track_chairs">Track Chairs</a> -->
					</div>
				</li>
				
				
				
				<li class="ppdropdown">
					<a class="page-scroll dropdown-toggle" data-toggle="dropdown" target="_blank"  href="#contact">Contact</a>
					
					<div class="ppdropdown-content">
						<a target="_top"  href="{{ '/#contact' | prepend: site.baseurl }}">Contact Us</a>
						
						
						<a target="_blank" href="https://dblp.uni-trier.de/db/conf/cig/index.html">CIG</a>
						<a target="_blank" href="https://dblp.uni-trier.de/db/conf/vsgames/index.html">VS-GAMES</font></a>
					</div>
				</li>
				
				
					<!-- 
				<li class="ppdropdown">
					<a class="page-scroll dropdown-toggle" data-toggle="dropdown" target="_blank"  href="#previousfuture" >About</a>
					<div class="ppdropdown-content">
						<a target="_blank"  href="http://cig2015.nctu.edu.tw/">CIG2015</a>
						<a target="_blank"  href="http://cig16.image.ece.ntua.gr/">CIG2016</a>
						<a target="_blank"  href="http://www.cig2017.com/">CIG2017</a>
						<a target="_blank"  href="https://project.dke.maastrichtuniversity.nl/cig2018/">CIG2018</a>
						<a target="_blank"  href="http://ieee-cog.org/">COG2019</a>
						<a target="_top"  href="?">COG2021</a>
						<a target="_blank" href="https://dblp.uni-trier.de/db/conf/cig/index.html">CIG</a>
					<a target="_blank" href="https://dblp.uni-trier.de/db/conf/vsgames/index.html">VS-GAMES</font></a>
					</div>
					</li>
					
					
					-->
					
				</ul>
			</div>
			<!-- /.navbar-collapse -->
		</div>
		<!-- /.container-fluid -->
	</nav>
	
	<!--
		{% for page in site.pages %}
		{% if page.title %}<a class="page-link" target="_blank"  href="{{ page.url | prepend: site.baseurl }}">{{ page.title }}</a>{% endif %}
		{% endfor %}
	-->
	
