<!-- Services Section -->
    <section id="intro">
        <div class="container">
            <div class="row container">
                <style>
                .video {
                position:relative;
                padding-bottom: 56.25%;
                height:0;
                overflow:hidden;
                align: middle;
                }
                .video iframe, .video object, .video embed {
                position: absolute;
                margin: auto;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
                width: 100%;
                height: 100%;
                }
				

 .tab { margin-left: 40px; }

 
                </style>

				 <p>
            The Conference on Games (CoG) evolves from the traditional Computational Intelligence and Games (CIG) to bring together leading researchers and practitioners from academia and industry in the field of Games, to discuss recent advances and explore future directions. Games offer a fantastic domain for computational creativity, game design, technology, education, social sciences and, undoubtedly, artificial and computational intelligence. The annual IEEE Conference on Games (IEEE CoG) seeks to share insights and cutting-edge research related to game technologies and design, covering scientific, technical, and engineering aspects of games.
				 </p>

          <p>After the first CoG in London, UK, CoG 2020 brings together leading researchers and practitioners from academia and industry in the field of games to Osaka, Japan, to discuss recent advances and explore future directions. IEEE CoG 2020 will include presentations of peer-reviewed papers, invited talks by high-profile industry and academic leaders, panels, posters and demos. We welcome papers related to all aspects of Games, including, but not limited to, the following broad subject areas:
				 

			<ul>
    <li>AI for playing games</li>
<li>PCG, AI for Game Design</li>
<li>Analytics and player modelling</li>
<li>Benchmarks and competitions</li>
<li>Game Theory and Multi-agent Systems</li>
<li>Narrative and Interactive Entertainment</li>
<li>Graphics and animation</li>
<li>Game Interfaces and User Interaction</li>
<li>Virtual and Augmented Reality</li></ul>
  
  
            </div>
        </div>
    </section>