<!-- Services Section -->
    <section id="intro">
        <div class="container">
            <div class="row container">
                <style>
                .video {
                position:relative;
                padding-bottom: 56.25%;
                height:0;
                overflow:hidden;
                align: middle;
                }
                .video iframe, .video object, .video embed {
                position: absolute;
                margin: auto;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
                width: 100%;
                height: 100%;
                }
				

 .tab { margin-left: 40px; }

 
                </style>

				 <p>
				 The Conference on Games (CoG) evolved from <a href="https://dblp.uni-trier.de/db/conf/cig/index.html" target="_blank">Computational Intelligence and Games (CIG)</a> in 2019 and later joined by <a href="https://dblp.uni-trier.de/db/conf/vsgames/index.html" target="_blank">Virtual Worlds and Games for Serious Applications (VS-GAMES)</a> from CoG 2020 to bring together leading researchers and practitioners from academia and industry in the field of games, to discuss recent advances and explore future directions. 
				 Games offer a fantastic domain for computational creativity, game design, technology, education, social sciences and, undoubtedly, artificial and computational intelligence. The annual IEEE Conference on Games (IEEE CoG) seeks to share insights and cutting-edge research related to game technologies and design, covering scientific, technical, and engineering aspects of games.
				 
				 </p>

          <p>
		  After the first and very successful CoG 2019 in London, UK, with the total number of submissions more than 250 for all paper categories and the acceptance rate for regular papers (oral presentation) of 41%, CoG 2020 brings together leading researchers and practitioners from academia and industry in the field of games to Osaka, Japan, to discuss recent advances and explore future directions. IEEE CoG 2020 will include presentations of peer-reviewed papers, invited talks by high-profile industry and academic leaders, panels, posters and demos. <b>Expecting slightly more submissions and lower acceptance rates</b>, we welcome papers related to all aspects of games, including, but not limited to, the following broad subject areas:
		  </p>			 

			<ul>
<li>AI for Playing Games</li>
<li>Analytics and Player Modelling</li>
<li>Benchmarks and Competitions</li>
<li>Education and Games</li>
<li>Game Design</li>
<li>Game Interfaces and User Interaction</li>
<li>Game Theory and Multi-agent Systems</li>
<li>Multimedia and Games</li>
<li>Narrative and Interactive Entertainment</li>
<li>PCG and AI for Game Design</li>
<li>Serious Games Technology</li>
<li>Virtual and Augmented Reality</li>
	</ul>
  
  
            </div>
        </div>
    </section>