<!DOCTYPE html>
<html>
<link rel="icon" type="image/ico" href="/css/cog_logo.ico">
  {% include 2016_data/head.html %}

    <body id="page-top" class="index">

    {% include 2020_data/header-home.html %}

    <!-- Header -->
    <header>
        <div class="container">
            <div class="intro-text">
                <div class="intro-heading"><font color="#d90e00" style=" text-shadow: 2px 2px #000000;">IEEE Conference on Games (CoG) 2020</font> <br></div>
                <div class="intro-lead-in"><font color="#ffffff" style=" text-shadow: 2px 2px #000000;">24-27 August 2020</font></div>
                <div class="intro-lead-in"><font color="#ffffff" style=" text-shadow: 2px 2px #000000;">Kindai University, Osaka, Japan</font></div>
            </div>
        </div>
		
    </header>
<!--
<link rel="stylesheet" href="/css/pstyle.css">
    {% include 2020_data/venue.html %}
 -->
    {% include 2020_data/intro.html %}
    {% include 2020_data/calls.html %}
    {% include 2020_data/date.html %}
    {% include 2017_data/about.html %}
    {% include 2020_data/contact.html %}
    {% include 2016_data/js.html %}
    {% include 2020_data/sponsors.html %}
    </body>
	
	
	
	
	
</html>